<div>
  <pre><label>Alfa_Beta {{ status }}</label></pre>
</div>
<div class="well">
  <i class="fa fa-toggle-on aactive" ng-if="status == true" ng-click="changeStatus();"></i>
  <i class="fa fa-toggle-on fa-rotate-180 iinactive" ng-if="status == false" ng-click="changeStatus();"></i>
</div>
<div>
  <pre><label>Explored nodes = {{ nodes }}</label></pre>
</div>
<div class="jumbotron">
  <div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td><img ng-src={{ImgUrl[0]}} class="img-responsive" ng-click="check_box(0)"></td>
        <td><img ng-src={{ImgUrl[1]}} class="img-responsive" ng-click="check_box(1)"></td>
        <td><img ng-src={{ImgUrl[2]}} class="img-responsive" ng-click="check_box(2)"></td>
      </tr>
      <tr>
        <td><img ng-src={{ImgUrl[3]}} class="img-responsive" ng-click="check_box(3)"></td>
        <td><img ng-src={{ImgUrl[4]}} class="img-responsive" ng-click="check_box(4)"></td>
        <td><img ng-src={{ImgUrl[5]}} class="img-responsive" ng-click="check_box(5)"></td>
      </tr>
      <tr>
        <td><img ng-src={{ImgUrl[6]}} class="img-responsive" ng-click="check_box(6)"></td>
        <td><img ng-src={{ImgUrl[7]}} class="img-responsive" ng-click="check_box(7)"></td>
        <td><img ng-src={{ImgUrl[8]}} class="img-responsive" ng-click="check_box(8)"></td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
<div class="alert alert-success fade in">
  <strong style="align-content: center">{{winner}}</strong>
</div>



